<footer class="bg-white dark:text-gray-400 dark:bg-gray-900 body-font fixed bottom-0 inset-x-0">
  <div class="bg-gray-100 dark:bg-gray-800 dark:bg-opacity-75">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-600 dark:text-gray-400 text-sm text-center sm:text-left">© <%= new Date().getUTCFullYear() %> Dashactyl</p>
    </div>
  </div>
</footer>